---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="/" class="previous-page">First</a></li>
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">&laquo; Prev</a></li>
        {%- else %}
          <li><div class="pager-edge">First</div></li>
          <li><div class="pager-edge">&laquo; Prev</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }} / {{ paginator.total_pages }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Next &raquo;</a></li>
          <li><a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}">Last</a></li>
        {%- else %}
          <li><div class="pager-edge">Next &raquo;</div></li>
          <li><div class="pager-edge">Last</div></li>
          {%- endif %}
        {%- endif}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
